*
!/main.go
!/LICENSE
!/README.md
!/go.mod
!/go.mod/*
!/go.sum
!/go.sum/*
!/src
!/src/*
!/src/**
!/docker
!/docker/*
!/docker/**
!/config.txt
!/docs
!/docs/*
!/docs/**
!/scripts
!/scripts/*
!/scripts/**
.DS_Store