<?xml version="1.0" encoding="UTF-8"?>
<config>
    <activeScope>default</activeScope>
    <scopes>
        <default>
            <name>default</name>
            <os>
                <name>ubuntu</name>
                <version>22.04</version>
            </os>
            <nginx>
                <port>
                    <unsecure>80</unsecure>
                    <secure>443</secure>
                    <internal>80</internal>
                </port>
                <!--<hosts>
                    <base>
                        <name>example.com</name>
                    </base>
                </hosts>-->
                <ssl>
                    <enabled>true</enabled>
                </ssl>
                <rut_type>website</rut_type>
                <default_host_first_level>.test</default_host_first_level>
                <interface_ip></interface_ip>
            </nginx>
            <platform>magento2</platform>
            <workdir>/var/www/html</workdir>
            <public_dir>public</public_dir>
            <php>
                <version>8.2</version>
                <composer>
                    <version>2</version>
                </composer>
                <timezone>Europe/Kiev</timezone>
                <xdebug>
                    <version>3</version>
                    <ide_key>PHPSTORM</ide_key>
                    <remote_host>host.docker.internal</remote_host>
                    <enabled>false</enabled>
                    <mode>debug</mode>
                </xdebug>
                <ioncube>
                    <enabled>false</enabled>
                </ioncube>
            </php>
            <db>
                <repository>mariadb</repository>
                <root_password>password</root_password>
                <user>magento</user>
                <password>magento</password>
                <database>magento</database>
                <phpmyadmin>
                    <enabled>false</enabled>
                    <repository>phpmyadmin/phpmyadmin</repository>
                    <version>5.2.1</version>
                </phpmyadmin>
            </db>
            <db2>
                <enabled>false</enabled>
                <repository>mariadb</repository>
                <root_password>password</root_password>
                <user>magento</user>
                <password>magento</password>
                <database>magento</database>
                <phpmyadmin>
                    <enabled>false</enabled>
                    <repository>phpmyadmin/phpmyadmin</repository>
                    <version>5.2.1</version>
                </phpmyadmin>
            </db2>
            <nodejs>
                <enabled>false</enabled>
                <repository>node</repository>
                <version>18.15.0</version>
                <yarn>
                    <enabled>false</enabled>
                    <version>1.22.19</version>
                </yarn>
            </nodejs>
            <search>
                <engine>elasticsearch</engine>
                <elasticsearch>
                    <enabled>false</enabled>
                    <repository>elasticsearch</repository>
                    <version>8.4.3</version>
                    <dashboard>
                        <enabled>false</enabled>
                        <repository>kibana</repository>
                    </dashboard>
                </elasticsearch>
                <opensearch>
                    <enabled>false</enabled>
                    <repository>opensearchproject/opensearch</repository>
                    <version>2.5</version>
                    <dashboard>
                        <enabled>false</enabled>
                        <repository>opensearchproject/opensearch-dashboards</repository>
                    </dashboard>
                </opensearch>
            </search>
            <redis>
                <enabled>false</enabled>
                <repository>redis</repository>
                <version>7.2.3</version>
            </redis>
            <rabbitmq>
                <enabled>false</enabled>
                <repository>rabbitmq</repository>
                <version>3.12.10</version>
            </rabbitmq>
            <cron>
                <enabled>false</enabled>
            </cron>
            <ssh>
                <auth_type>key</auth_type>
                <host></host>
                <port>22</port>
                <username></username>
                <key_path></key_path>
                <password></password>
                <site_root_path></site_root_path>
            </ssh>
            <magento>
                <admin_first_name>admin</admin_first_name>
                <admin_last_name>admin</admin_last_name>
                <admin_email>admin@admin.com</admin_email>
                <admin_user>admin</admin_user>
                <admin_password>admin123</admin_password>
                <admin_frontname>admin</admin_frontname>
                <locale>en_US</locale>
                <currency>USD</currency>
                <timezone>America/Chicago</timezone>
                <mftf>
                    <enabled>false</enabled>
                    <admin_user>admin</admin_user>
                    <otp_shared_secret>MFZWIZTHNBVGW3D2</otp_shared_secret>
                </mftf>
                <cloud>
                    <enabled>false</enabled>
                    <username></username>
                    <password></password>
                    <project_name></project_name>
                </cloud>
                <n98magerun>
                    <enabled>false</enabled>
                </n98magerun>
            </magento>
            <proxy>
                <enabled>true</enabled>
            </proxy>
            <pwa>
                <backend_url></backend_url>
            </pwa>
            <container_name_prefix>madock_</container_name_prefix>
            <isolation>
                <enabled>false</enabled>
            </isolation>
            <varnish>
                <enabled>false</enabled>
                <repository>varnish</repository>
                <version>7.5.0</version>
            </varnish>
        </default>
    </scopes>
</config>