db:
<<<if{{{db/use_default_auth_plugin}}}>>>    command:
      --default-authentication-plugin=mysql_native_password
<<<endif>>>    build:
      context: ctx
      dockerfile: db.Dockerfile
    ports:
      - "{{{port/db}}}:3306"
    volumes:
      - dbdata:/var/lib/mysql
      - ./ctx/my.cnf:/etc/mysql/conf.d/mysql.cnf:delegated
    <<<if{{{isolation/enabled}}}>>>networks:
      - isolated<<<endif>>>
    restart: {{{restart_policy}}}