<<<if{{{db2/enabled}}}>>>
  db2:
<<<if{{{db/use_default_auth_plugin}}}>>>    command:
      --default-authentication-plugin=mysql_native_password
<<<endif>>>    build:
      context: ctx
      dockerfile: db.Dockerfile
    ports:
      - "{{{port/db2}}}:3306"
    volumes:
      - dbdata2:/var/lib/mysql
      - ./ctx/my.cnf:/etc/mysql/conf.d/mysql.cnf:delegated
    restart: {{{restart_policy}}}
<<<endif>>>
    <<<if{{{db2/enabled}}}{{{isolation/enabled}}}>>>networks:
      - isolated<<<endif>>>