<<<if{{{search/elasticsearch/enabled}}}>>>
  elasticsearch:
    build:
      context: ctx
      dockerfile: elasticsearch.Dockerfile
    deploy:
      resources:
        limits:
          memory: 2512m
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms800m -Xmx800m"
      - "cluster.routing.allocation.disk.threshold_enabled=false"
      - "index.blocks.read_only_allow_delete"
    volumes:
      - elasticsearch_vlm_{{{search/elasticsearch/version}}}:/usr/share/elasticsearch/data
<<<endif>>>
    <<<if{{{search/elasticsearch/enabled}}}{{{isolation/enabled}}}>>>networks:
      - isolated<<<endif>>>