<<<if{{{grafana/enabled}}}>>>
  prometheus:
    image: prom/prometheus
    command: --config.file=/etc/prometheus/prometheus-config.yml
    volumes:
      - ./ctx/grafana/prometheus-config.yml:/etc/prometheus/prometheus-config.yml
    networks:
      - default
<<<if{{{isolation/enabled}}}>>>      - isolated<<<endif>>>
    restart: {{{restart_policy}}}
<<<endif>>>
