<<<if{{{grafana/enabled}}}>>>
  promtail:
    image: grafana/promtail:2.9.10
    volumes:
      - ./ctx/grafana/promtail-config.yml:/etc/promtail/config.yml
      - ./src/web/storage/logs:/var/log
    command: --config.file=/etc/promtail/config.yml
    depends_on:
      - loki
    networks:
      - default
<<<if{{{isolation/enabled}}}>>>      - isolated<<<endif>>>
    restart: {{{restart_policy}}}
<<<endif>>>