<<<if{{{grafana/enabled}}}>>>
  dbexporter:
    image: prom/mysqld-exporter
    volumes:
      - ./ctx/grafana/mysql-exporter.my.cnf:/.my.cnf
    networks:
      - default
<<<if{{{isolation/enabled}}}>>>      - isolated<<<endif>>>
    restart: {{{restart_policy}}}
<<<endif>>>
