<<<if{{{grafana/enabled}}}>>>
  grafana:
    image: {{{grafana/repository}}}:{{{grafana/version}}}
    environment:
      GF_SERVER_ROOT_URL: "https://{{{nginx/host_name_default}}}/grafana/"
      GF_SERVER_DOMAIN: "{{{nginx/host_name_default}}}"
      GF_INSTALL_PLUGINS: grafana-clock-panel,redis-datasource,redis-app,redis-explorer-app
      GF_AUTH_ANONYMOUS_ORG_ROLE: "Admin"
      GF_AUTH_ANONYMOUS_ENABLED: true
      GF_SERVE_FROM_SUB_PATH: true
      GF_SERVER_PROTOCOL: http
      GF_AUTH_BASIC_ENABLED: false
      GF_AUTH_DISABLE_LOGIN_FORM: true
      GF_PATHS_PROVISIONING: /etc/grafana/provisioning
    volumes:
      - grafanadata:/var/lib/grafana
      - ./ctx/grafana/dashboard-mysql.json:/etc/grafana/dashboards/mysql.json
      - ./ctx/grafana/dashboard-redis.json:/etc/grafana/dashboards/redis.json
      - ./ctx/grafana/dashboard-loki.json:/etc/grafana/dashboards/loki.json
    entrypoint:
      - sh
      - -euc
      - |
        mkdir -p /etc/grafana/provisioning/datasources
        cat <<EOF > /etc/grafana/provisioning/datasources/ds.yaml
        apiVersion: 1
        datasources:
        - name: Loki
          type: loki
          access: proxy 
          orgId: 1
          url: http://loki:3100
          basicAuth: false
          isDefault: true
          version: 1
          editable: false
        - name: Redis
          type: redis-datasource
          access: proxy 
          orgId: 1
          url: redisdb:6379
          basicAuth: false
          version: 1
          editable: false
        - name: Prometheus
          type: prometheus
          access: proxy 
          orgId: 1
          url: http://prometheus:9090
          basicAuth: false
          version: 1
          editable: false
        EOF
        mkdir -p /etc/grafana/provisioning/dashboards
        cat <<EOF > /etc/grafana/provisioning/dashboards/dashboards.yaml
        apiVersion: 1
        providers:
        - name: Default
          orgId: 1
          folder: ''
          type: file
          disableDeletion: false
          editable: true
          allowUiUpdates: false
          options:
            path: /etc/grafana/dashboards
        EOF
        /run.sh
    ports:
      - "{{{nginx/port/project+10}}}:3000"
    depends_on:
      - loki
<<<endif>>>
    <<<if{{{grafana/enabled}}}{{{isolation/enabled}}}>>>networks:
      - isolated<<<endif>>>
