<<<if{{{search/elasticsearch/dashboard/enabled}}}>>>
  kibana:
    platform: linux/x86_64
    image: {{{search/elasticsearch/dashboard/repository}}}:{{{search/elasticsearch/version}}}
    ports:
      - "{{{port/kibana}}}:5601"
    environment:
      SERVER_BASEPATH: /kibana
      ELASTICSEARCH_HOSTS: '["http://elasticsearch:9200"]'
    depends_on:
      - elasticsearch
    networks:
      - default
<<<if{{{isolation/enabled}}}>>>      - isolated<<<endif>>>
    restart: {{{restart_policy}}}
<<<endif>>>