nginx:
    build:
      context: ctx
      dockerfile: nginx.Dockerfile
    ports:
      - "{{{port/nginx}}}:80"
      - "{{{port/nginx_ssl}}}:443"
    volumes:
      - ./src:/var/www/html:delegated
      - ./ctx/nginx.conf:/etc/nginx/conf.d/default.conf:delegated
    extra_hosts:
      - "host.docker.internal:host-gateway"
      {{{nginx/host_gateways}}}
    depends_on:
      - php
    <<<if{{{isolation/enabled}}}>>>networks:
      - opened
      - isolated<<<endif>>>
    restart: {{{restart_policy}}}