<<<if{{{magento/mftf/enabled}}}>>>
  selenium:
    image: selenium/standalone-chrome:latest
    platform: linux/amd64
    extra_hosts:
      - "host.docker.internal:host-gateway"
      {{{nginx/host_gateways}}}
    ports:
      - "{{{nginx/port/project+8}}}:7900"
    shm_size: '2g'
    depends_on:
      - php
    restart: {{{restart_policy}}}
<<<endif>>>
    <<<if{{{magento/mftf/enabled}}}{{{isolation/enabled}}}>>>networks:
      - isolated<<<endif>>>