name: aruntime
services:
  nginx:
    build:
      context: ctx
      dockerfile: Dockerfile
    volumes:
      - ./ctx/proxy.conf:/etc/nginx/nginx.conf:delegated
      - ./ctx/:/sslcert/:delegated
    ports:
      - {{{nginx/interface_ip}}}{{{nginx/port/unsecure}}}:80
      - {{{nginx/interface_ip}}}{{{nginx/port/secure}}}:443
      - {{{nginx/interface_ip}}}35729:35729
    extra_hosts:
      - "host.docker.internal:host-gateway"

  mailcatcher:
    image: axllent/mailpit:latest
    ports:
      - 1025:1025
      - {{{nginx/interface_ip}}}8025:8025
    environment:
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
