[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]
innodb_file_per_table = 1
collation-server = utf8mb4_unicode_ci
init-connect='SET NAMES utf8mb4'
character-set-server = utf8mb4
wait_timeout=30000
innodb_buffer_pool_size = 512M
innodb_log_buffer_size = 256M
innodb_log_file_size = 512M
innodb_write_io_threads = 16
innodb_flush_log_at_trx_commit = 0

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
