{{{include snippets/docker-compose/container-name.yml}}}
services:
  nodejs:
    build:
      context: ctx
      dockerfile: nodejs.Dockerfile
    tty: true
    volumes: &appvolumes
      - ./src:/var/www/html:cached
      - ./ssh/id_rsa:/var/www/.ssh/id_rsa:ro
      - ./ssh/known_hosts:/var/www/.ssh/known_hosts:cached
      - ./ctx/nginx.conf:/etc/nginx/conf.d/default.conf:cached
    extra_hosts:
      - "host.docker.internal:host-gateway"
      - "{{{pwa/backend_url}}}:host-gateway"
    <<<if{{{isolation/enabled}}}>>>networks:
      - isolated<<<endif>>>

  nginx:
    build:
      context: ctx
      dockerfile: nginx.Dockerfile
    ports:
      - "{{{nginx/port/project}}}:80"
      - "{{{nginx/port/project_ssl}}}:443"
    volumes:
      - ./src:/var/www/html:delegated
      - ./ctx/nginx.conf:/etc/nginx/conf.d/default.conf:delegated
    extra_hosts:
      - "host.docker.internal:host-gateway"
    <<<if{{{isolation/enabled}}}>>>networks:
      - opened
      - isolated<<<endif>>>

  {{{include snippets/docker-compose/grafana.yml}}}
  {{{include snippets/docker-compose/grafana-loki.yml}}}
  {{{include snippets/docker-compose/grafana-promtail.yml}}}
  {{{include snippets/docker-compose/grafana-prometheus.yml}}}
  {{{include snippets/docker-compose/grafana-mysql-exporter.yml}}}
  {{{include snippets/docker-compose/grafana-rabbitmq-exporter.yml}}}
  {{{include snippets/docker-compose/claude.yml}}}
{{{include snippets/docker-compose/networks.yml}}}